/* プレースホルダー
----------------------------------------------------------------------------- */
:placeholder-shown {
  color: $colorPlaceholder;
}

::placeholder {
  color: $colorPlaceholder;
  opacity: 1;
}

/* 汎用スタイル
----------------------------------------------------------------------------- */
input,
select,
textarea {
  font-family: $fontBase;
  font-size: $sizeFontBase;
  line-height: $lineHeightBase;
  color: $colorTextBase;
}

input[type="button"],
button {
  cursor: pointer;
}
