*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $fontBase;
  font-size: $sizeFontBase;
  line-height: $lineHeightBase;
  color: $colorTextBase;
}

a {
  color: $colorTextLink;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
