h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeading;
}
.ttl-a {
  font-size: size(4, vw);
  text-align: center;
  font-weight: bold;
  @media #{mediaUp(phoneLarge)} {
    font-size: size(6, px);
  }
}
