$profileImageSizePx: 200px;
$profileImageSizeVw: size(20, vw);

.profileImage {
  position: relative;
  width: calc(#{$profileImageSizePx} * 1.5);
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  text-align: center;
  @media #{mediaLess(phoneLarge)} {
    width: calc(#{$profileImageSizeVw} * 1.5);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: calc(#{$profileImageSizePx} * 1.5);
    height: calc(#{$profileImageSizePx} * 1.5);
    border-radius: 50%;
    background-color: #fff;
    content: "";
    @media #{mediaLess(phoneLarge)} {
      width: calc(#{$profileImageSizeVw} * 1.5);
      height: calc(#{$profileImageSizeVw} * 1.5);
    }
    .page-about & {
      display: none;
    }
  }
  img {
    position: relative;
    z-index: 2000;
    width: $profileImageSizePx;
    @media #{mediaLess(phoneLarge)} {
      width: $profileImageSizeVw;
    }
  }
}

.profileName {
  font-family: $fontKeyword;
  font-weight: bold;
  color: #fff;
  text-align: center;
  @media #{mediaUp(phoneLarge)} {
    font-size: 64px;
  }
  .page-about & {
    display: none;
  }
}

.profileSiteList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
  }
  img {
    width: 36px;
    padding: 1px;
    background-color: #fff;
    &.is-round {
      border-radius: 50%;
    }
  }
}
