header.header
  nav.headerNav
    ul.headerList
      li: nuxt-link(to="/") Top
      li: nuxt-link(to="/about/") About
      li: nuxt-link.noLink(to="/works/") Works
      li: nuxt-link(to="/contact/") Contact
