/* 変数
----------------------------------------------------------------------------- */
// color
$btnColorBase: $colorAccent;
$btnColorSecondary: $GRAY_B4;

/* use
----------------------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 3px solid $btnColorBase;
  border-radius: 8px;
  background: $colorBase;
  color: $btnColorBase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;

  @media #{mediaUp(phone)} {
    border: 4px solid $btnColorBase;
    border-radius: 10px;
    font-size: size(3, px);
  }

  &:hover {
    background-color: $colorAccent;
    color: $colorBase;
    text-decoration: none;
  }

  // サイズ
  &.btn-block {
    display: block;
  }

  // テーマ
  &.btn-secondary {
    border: 3px solid $btnColorSecondary;
    color: $btnColorSecondary;

    @media #{mediaUp(phone)} {
      border: 4px solid $btnColorSecondary;
    }

    &:hover {
      background-color: $btnColorSecondary;
      color: $colorBase;
    }
  }
}
