.footer {
  .copyright {
    margin: size(2, vw) 0;
    text-align: center;
    font-size: size(1.8, vw);
    @media #{mediaUp(phone)} {
      margin: size(2, px) 0;
      font-size: size(1.8, px);
    }
  }
}
