/* 定数
----------------------------------------------------------------------------- */
$FONT_BASIC: Roboto, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProW3", sans-serif;
$FONT_YUGO: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "source-han-sans-japanese", sans-serif;
$FONT_YUMIN: "游明朝体", "Yu Mincho", YuMincho, serif;

$BASE_LINE_HEIGHT: 1.6;

/* 変数
----------------------------------------------------------------------------- */
$fontBase: $FONT_BASIC;
$lineHeightBase: $BASE_LINE_HEIGHT;
