/* 変数
----------------------------------------------------------------------------- */
$BASE_NUMBER: 8;

/* 関数 & mixin
----------------------------------------------------------------------------- */
// px → vwの変換
@function getVw($size, $viewport: 375) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

// 基準の数からの倍数の算出（px）
@function sizePx($multiplier: 1) {
  @return $BASE_NUMBER * $multiplier + px;
}

// 基準の数からの倍数の算出（vw）
@function sizeVw($multiplier: 1) {
  $px: $BASE_NUMBER * $multiplier;
  @return getVw($px);
}

// usage
// .selector {
//   margin: sizePx(2);
//   padding: sizeVw(2);
// }


/* 文字
----------------------------------------------------------------------------- */
$sizeFontBase: sizePx(2);


/* レイアウト
----------------------------------------------------------------------------- */
$pageMaxWidth: 1000px;
