$prPointListWidth: 700;

.prPointList {
  margin: size(4, px) 0;
  padding: 0;
  list-style: none;
  content: mediaRange2(phone, 900);
  @media #{mediaUp($prPointListWidth)} {
    display: flex;
    justify-content: space-between;
  }
  li {
    @media #{mediaLess($prPointListWidth)} {
      &:not(:first-child) {
        margin-top: size(4, px);
      }
    }
    @media #{mediaUp($prPointListWidth)} {
      width: 30%;
    }
  }
}
.prPointHead {
  margin: 0 0 .5em;
  text-align: center;
}
.prPointBody {
  margin: .5em 0;
}

.skillIconList {
  margin: size(2, px) -#{size(2, px)} size(2, px) 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: size(1, px) size(2, px) size(1, px) 0;
    line-height: 1;
    vertical-align: bottom;
    &:last-child {
      &:after {
        margin-left: size(1, px);
        vertical-align: bottom;
        content: "etc.";
      }
    }
  }
  img {
    width: auto;
    height: 48px;
    @media #{mediaLess(phone)} {
      height: size(4, vw);
    }
  }
}

.nextPageArrow {
  margin: size(3, px) 0;
  text-align: right;
  font-family: $fontKeyword;
  font-size: 24px;
  font-weight: bold;
  @media #{mediaUp(phone)} {
  }
  a {
    transition: all .2s ease-in-out;
    &:hover {
      opacity: .8;
      text-decoration: none;
    }
    &:after {
      margin-left: .5em;
      content: ">";
    }
  }
}
