.prTop
  .prPoint
    ul.prPointList
      li(v-for="item in prPoints")
        h2.prPointHead {{ item.head }}
        .prPointBody(v-html="item.body")
    .skillIcon
      ul.skillIconList
        li(v-for="item in skillIconList")
          img(
            :src="item.img"
            :alt="item.name"
            )
    .nextPageArrow
      nuxt-link(to="/about/") About
