main.main
  h1.ttl-a {{ title }}
  .container.aboutOutline
    profile-item
    .profileOutline
      h2.outlineTitle {{ userName }}
      .outlineBody
        p.outlineDescription {{ outlineDescription }}
        ul.outlineHashList
          li(v-for="item in outlineHashList") {{ item }}
  section(v-if="skills")
    h2.ttl-a {{ skills.title }}
    .container.aboutSkillsTable
      table.skillsTable
        tbody
          tr(
            v-for="(category, index) in skills.body"
            :key="index"
          )
            th {{ category.title }}
            td
              ul.skillsIconList
                li(v-for="item in category.items") {{ item }}
  h2.ttl-a History
  .container.aboutHistoryTable
    table.historyTable(v-if="history")
      tbody
        tr(
          v-for="(item, index) in history"
          :key="index"
        )
          th {{ item.year }}
          td {{ item.content }}
  footer-content-contact

