main.main
  the-hero-header-top
  .container
    div
      h1.title
        | buchiya4th-portfolio
      h2.subtitle
        | project
      .links
        a.button--green(href="https://nuxtjs.org/" target="_blank") Documentation
        a.button--grey(href="https://github.com/nuxt/nuxt.js" target="_blank") GitHub
      p: nuxt-link(to="/about/") about
