main.main
  the-hero-header-top
  .prTopArea
    .container
      pr-top
  .worksArea
    .container
      h2.ttl-a Works
      .worksTop
        p.commingsoon Coming soon
  .contactArea
    .container
      h2.ttl-a Contact
      .contactTop
        p: nuxt-link.btn(to="/contact/") お問い合わせ
