.worksArea {
  margin-bottom: size(10, vw);
  @media #{mediaUp(phone)} {
    margin-bottom: size(10, px);
  }
}

.worksTop {
  text-align: center;
}
.commingsoon {
  font-size: size(3, vw);
  @media #{mediaUp(phone)} {
    font-size: size(3, px);
  }
}

.contactTop {
  text-align: center;
}
.contactArea {
  margin-bottom: size(10, vw);
  @media #{mediaUp(phone)} {
    margin-bottom: size(10, px);
  }
}
