$sideSpaceNonUnit: $sideSpace;

.container {
  max-width: $pageMaxWidth;
  margin-left: $sideSpace;
  margin-right: $sideSpace;
  @include mediaUp(page) {
    margin-left: auto;
    margin-right: auto;
  }
}
